@charset "UTF-8";
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  background: transparent;
  border: 0;
  font-size: 100%;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  background: transparent;
  color: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  text-decoration: none;
  vertical-align: baseline;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  border: 0;
  border-top: 1px solid #cccccc;
  display: block;
  height: 1px;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: #292929;
  font-family: "fot-tsukuardgothic-std", "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  font-weight: bold;
  letter-spacing: 0.08em;
}

a {
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

a:hover,
a:focus {
  opacity: 0.8;
}

.about {
  background-image: url(../img/about-bg.jpg);
  background-position: center;
  background-size: cover;
  margin-bottom: 80px;
  padding: 50px 20px;
  position: relative;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .about {
    background-image: url(../img/about-bg@2x.jpg);
  }
}

.about_deco {
  background-color: #fff;
  height: 50px;
  position: absolute;
  width: 50%;
}

.about_deco:nth-of-type(1) {
  right: 0;
  top: 0;
}

.about_deco:nth-of-type(2) {
  bottom: 0;
  left: 0;
}

.about_title {
  color: #60d8cc;
  font-family: "Caveat", cursive;
  font-size: 50px;
  letter-spacing: 0;
  position: absolute;
  right: 24px;
  text-align: right;
  text-transform: uppercase;
  top: 26px;
}

.about_container {
  padding-bottom: 250px;
  padding-top: 56px;
}

.about_list {
  -ms-flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;
          justify-content: space-between;
}

.about_item {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, right top, from(#24a2b3), to(#68e0cf));
  background: linear-gradient(to right, #24a2b3, #68e0cf);
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 41vw;
          justify-content: center;
  margin-bottom: 26px;
  position: relative;
  width: 41vw;
}

.about_item:nth-of-type(even) {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-bottom: 6px;
  margin-top: 20px;
}

.about_label {
  font-size: 18px;
}

.about_summary {
  display: none;
}

.about_arrow {
  bottom: 10px;
  position: absolute;
  right: 10px;
}

.entry {
  padding: 0 20px 80px;
}

.entry_item {
  background: -webkit-gradient(linear, left top, right top, from(#24a2b3), to(#68e0cf));
  background: linear-gradient(to right, #24a2b3, #68e0cf);
  color: #fff;
  height: 100px;
  margin: 0 auto;
  position: relative;
}

.entry_item:not(:last-of-type) {
  margin-bottom: 20px;
}

.entry_item a {
  display: block;
  height: 100%;
  width: 100%;
}

.entry_icon {
  -webkit-transform: translateY(-50%);
  left: 20px;
  position: absolute;
  top: 50%;
          transform: translateY(-50%);
  width: 58px;
}

.entry_text {
  -webkit-transform: translate(-50%, -50%);
  font-size: 18px;
  left: 52%;
  letter-spacing: 0.1em;
  position: absolute;
  text-align: center;
  top: 50%;
          transform: translate(-50%, -50%);
  width: 100%;
}

.entry_arrow {
  bottom: 10px;
  position: absolute;
  right: 10px;
}

.footer {
  background-image: url(../img/bg.png);
  padding: 40px 0 15px;
  text-align: center;
}

.footer_nav {
  display: none;
}

.footer_button {
  margin: 0 auto 50px;
}

.footer_logo {
  margin-bottom: 20px;
  width: 145px;
}

.footer_text {
  letter-spacing: 0.1em;
  margin-bottom: 55px;
}

.footer_copyright {
  font-size: 10px;
}

.globalNav {
  -webkit-box-align: center;
      -ms-flex-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
  -webkit-transform: translateX(100%);
  -webkit-transition: all 0.3s ease;
          align-items: center;
  background-color: rgba(255, 255, 255, 0.9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
          justify-content: center;
  left: 0;
  position: fixed;
  text-align: center;
  top: 0;
          transform: translateX(100%);
  transition: all 0.3s ease;
  width: 100vw;
}

.globalNav_item {
  color: #2ca9b6;
  margin-bottom: 45px;
}

.globalNav_item:last-of-type {
  margin-bottom: 50px;
}

.is-navActive .globalNav {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.hamburgerButton {
  -webkit-transition: all 0.3s ease-in-out;
  height: 18px;
  position: relative;
  transition: all 0.3s ease-in-out;
  width: 24px;
  z-index: 1;
}

.hamburgerButton__line {
  -webkit-transition: inherit;
  background-color: #60d8cc;
  height: 2px;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  transition: inherit;
  width: 24px;
}

.hamburgerButton__line::after, .hamburgerButton__line::before {
  -webkit-transition: inherit;
  background-color: inherit;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: inherit;
}

.hamburgerButton__line::before {
  right: 0;
  top: 7px;
  width: 20px;
}

.hamburgerButton__line::after {
  right: 0;
  top: 14px;
  width: 16px;
}

.is-navActive .hamburgerButton__line {
  background-color: transparent;
}

.is-navActive .hamburgerButton__line::before,
.is-navActive .hamburgerButton__line::after {
  background-color: #60d8cc;
  top: 9px;
  width: 24px;
}

.is-navActive .hamburgerButton__line::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.is-navActive .hamburgerButton__line::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header {
  background-color: #fff;
  height: 50px;
  padding: 0 20px;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.header_wrapper {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
          justify-content: space-between;
  width: 100%;
}

.header_title {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header_logo {
  display: block;
  margin-right: 10px;
  width: 110px;
}

.header_text {
  display: block;
  font-size: 12px;
  letter-spacing: 0.1em;
}

.join {
  background-image: url(../img/bg.png);
  padding: 0 20px 80px;
}

.join_members {
  margin-bottom: 80px;
}

.join_content {
  -webkit-box-shadow: 0 0 20px rgba(21, 21, 21, 0.1);
  background-position: center;
  background-size: cover;
  border: solid 10px #fff;
          box-shadow: 0 0 20px rgba(21, 21, 21, 0.1);
  color: #fff;
  height: 270px;
}

.join_content:not(:last-of-type) {
  margin-bottom: 40px;
}

.join_content:nth-of-type(1) {
  background-image: url(../img/onoff.jpg);
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .join_content:nth-of-type(1) {
    background-image: url(../img/onoff@2x.jpg);
  }
}

.join_content:nth-of-type(2) {
  background-image: url(../img/talk.jpg);
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .join_content:nth-of-type(2) {
    background-image: url(../img/talk@2x.jpg);
  }
}

.join_content a {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
          justify-content: center;
  width: 100%;
}

.join_content_title {
  font-size: 18px;
  letter-spacing: 0.2em;
  line-height: 24px;
  position: relative;
  text-align: center;
  text-shadow: 0 0 20px rgba(21, 21, 21, 0.5);
}

.join_content_title::before {
  content: attr(data-title);
  display: block;
  font-family: "Caveat", cursive;
  font-size: 48px;
  letter-spacing: 0;
  margin-bottom: 27px;
}

.join_content_title::after {
  -webkit-transform: rotate(-2deg);
  -webkit-box-shadow: 0 0 20px rgba(21, 21, 21, 0.5);
  background-color: #fff;
          box-shadow: 0 0 20px rgba(21, 21, 21, 0.5);
  content: "";
  display: block;
  height: 2px;
  left: 0;
  position: absolute;
  top: 40px;
          transform: rotate(-2deg);
  width: 100%;
}

.members_title {
  color: #60d8cc;
  font-size: 24px;
  font-style: italic;
  margin-bottom: 30px;
  text-align: center;
}

.members_container {
  background: -webkit-gradient(linear, left top, right top, from(#24a2b3), to(#68e0cf));
  background: linear-gradient(to right, #24a2b3, #68e0cf);
  color: #fff;
  padding: 20px;
  position: relative;
}

.members_img {
  display: block;
  height: 260px;
  margin: 0 auto;
}

.members_label {
  font-size: 18px;
  margin-bottom: 30px;
}

.members_info {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.4;
}

.members_arrow {
  bottom: 20px;
  position: absolute;
  right: 20px;
}

.members_prevArrow, .members_nextArrow {
  -webkit-transform: translateY(-50%);
  background-size: cover;
  height: 50px;
  position: absolute;
  top: 40%;
          transform: translateY(-50%);
  width: 50px;
  z-index: 10;
}

.members_prevArrow {
  background-image: url(../img/prev.png);
  left: 0;
}

.members_nextArrow {
  background-image: url(../img/next.png);
  right: 0;
}

.mv {
  height: 600px;
  width: 100%;
}

.mv_wrapper {
  height: 100%;
  padding: 0 20px 20px;
  position: relative;
  width: 100%;
}

.mv_imgContainer {
  height: 100%;
  width: 100%;
}

.mv_imgContainer img {
  -o-object-fit: cover;
  -o-object-position: 70%;
  display: block;
  height: 100%;
     object-fit: cover;
     object-position: 70%;
  width: 100%;
}

.mv_catchContainer {
  -webkit-transform: translateX(-50%);
  bottom: 8.3%;
  color: #fff;
  left: 50%;
  position: absolute;
  text-shadow: 0 0 20px rgba(21, 21, 21, 0.2);
          transform: translateX(-50%);
  width: 89vw;
}

.mv_catchEn {
  -webkit-font-feature-settings: "palt";
  font-family: "Caveat", cursive;
          font-feature-settings: "palt";
  font-size: 16vw;
  letter-spacing: -0.01em;
  text-align: center;
}

.mv_catchEn::after {
  -webkit-transform: rotate(-2deg);
  -webkit-box-shadow: 0 0 20px rgba(21, 21, 21, 0.2);
  background-color: #fff;
          box-shadow: 0 0 20px rgba(21, 21, 21, 0.2);
  content: "";
  display: block;
  height: 3px;
  margin: 4px auto 8px;
          transform: rotate(-2deg);
  width: 75vw;
}

.mv_catchJp {
  -webkit-font-feature-settings: "palt";
          font-feature-settings: "palt";
  font-size: 4.8vw;
  font-style: italic;
  letter-spacing: 0.1em;
  margin-right: 16px;
  text-align: right;
}

.vision {
  margin-bottom: 60px;
  margin-top: 30px;
  width: 100%;
}

.vision_deco {
  background: -webkit-gradient(linear, left top, right top, from(#24a2b3), to(#68e0cf));
  background: linear-gradient(to right, #24a2b3, #68e0cf);
  height: 50px;
  margin: 0 0 0 auto;
  width: 50%;
}

.vision_container {
  background-image: url(../img/bg.png);
  padding: 0 20px 40px;
}

.vision_text {
  line-height: 2;
}

.vision_text:not(:last-of-type) {
  margin-bottom: 32px;
}

.u-entryButton {
  background: -webkit-gradient(linear, left top, right top, from(#24a2b3), to(#68e0cf));
  background: linear-gradient(to right, #24a2b3, #68e0cf);
  border-radius: 23px;
  color: #fff;
  display: block;
  font-size: 20px;
  height: 46px;
  letter-spacing: 0.12em;
  line-height: 46px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  width: 200px;
}

.u-entryButton img {
  -webkit-transform: translateY(-50%);
  display: block;
  position: absolute;
  right: 20px;
  top: 50%;
          transform: translateY(-50%);
  width: 25px;
}

.u-sectionTitle {
  font-family: "Caveat", cursive;
  font-size: 100px;
  letter-spacing: 0;
  text-transform: uppercase;
}

.u-sectionTitle._01 {
  color: #fff;
}

.u-sectionTitle._02 {
  color: #60d8cc;
}

.u-sectionTitle._03 {
  color: #eefbfa;
}

.u-sectionSubtitle {
  font-size: 24px;
  font-style: italic;
  margin-bottom: 40px;
  margin-top: -40px;
}

.u-visuallyHidden {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  border: 0;
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat;
}

/* Icons */
@font-face {
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-family: "slick";
  font-style: normal;
  font-weight: normal;
}

/* Arrows */
.slick-prev,
.slick-next {
  -webkit-transform: translate(0, -50%);
  background: transparent;
  border: none;
  color: transparent;
  cursor: pointer;
  display: block;
  font-size: 0px;
  height: 20px;
  line-height: 0px;
  outline: none;
  padding: 0;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: 20px;
}

.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  background: transparent;
  color: transparent;
  outline: none;
}

.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

.slick-prev:before,
.slick-next:before {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  opacity: 0.75;
}

.slick-prev {
  left: -25px;
}

[dir="rtl"] .slick-prev {
  left: auto;
  right: -25px;
}

.slick-prev:before {
  content: "←";
}

[dir="rtl"] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: -25px;
}

[dir="rtl"] .slick-next {
  left: -25px;
  right: auto;
}

.slick-next:before {
  content: "→";
}

[dir="rtl"] .slick-next:before {
  content: "←";
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  bottom: -25px;
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  text-align: center;
  width: 100%;
}

.slick-dots li {
  cursor: pointer;
  display: inline-block;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  position: relative;
  width: 20px;
}

.slick-dots li button {
  background: transparent;
  border: 0;
  color: transparent;
  cursor: pointer;
  display: block;
  font-size: 0px;
  height: 20px;
  line-height: 0px;
  outline: none;
  padding: 5px;
  width: 20px;
}

.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}

.slick-dots li button:before {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: black;
  content: "•";
  font-family: "slick";
  font-size: 6px;
  height: 20px;
  left: 0;
  line-height: 20px;
  opacity: 0.25;
  position: absolute;
  text-align: center;
  top: 0;
  width: 20px;
}

.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}

/* Slider */
.slick-slider {
  -webkit-box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -ms-touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
          box-sizing: border-box;
  display: block;
  position: relative;
  touch-action: pan-y;
  user-select: none;
}

.slick-list {
  display: block;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: relative;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  display: block;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 0;
}

.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  border: 1px solid transparent;
  display: block;
  height: auto;
}

.slick-arrow.slick-hidden {
  display: none;
}

body {
  overflow-x: hidden;
}

/*# sourceMappingURL=style.css.map */
