/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  background: transparent;
  border: 0;
  font-size: 100%;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  background: transparent;
  color: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  text-decoration: none;
  vertical-align: baseline;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  border: 0;
  border-top: 1px solid #cccccc;
  display: block;
  height: 1px;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: #292929;
  font-family: "fot-tsukuardgothic-std", "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  font-weight: bold;
  letter-spacing: 0.08em;
}

a {
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

a:hover,
a:focus {
  opacity: 0.8;
}

footer {
  height: 100px;
}

.header {
  height: 50px;
  position: fixed;
  width: 100%;
}

.mv {
  height: 600px;
  width: 100%;
}

.mv_wrapper {
  height: 100%;
  padding: 0 20px 20px;
  position: relative;
  width: 100%;
}

.mv_imgContainer {
  height: 100%;
  width: 100%;
}

.mv_imgContainer img {
  -o-object-fit: cover;
  -o-object-position: 70%;
  display: block;
  height: 100%;
     object-fit: cover;
     object-position: 70%;
  width: 100%;
}

.mv_catchContainer {
  -webkit-transform: translateX(-50%);
  bottom: 8.3%;
  color: #fff;
  left: 50%;
  position: absolute;
  text-shadow: 0 0 20px rgba(21, 21, 21, 0.2);
          transform: translateX(-50%);
  width: 89vw;
}

.mv_catchEn {
  -webkit-font-feature-settings: "palt";
  font-family: "Caveat", cursive;
          font-feature-settings: "palt";
  font-size: 16vw;
  letter-spacing: -0.01em;
  text-align: center;
}

.mv_catchEn::after {
  -webkit-transform: rotate(-2deg);
  -webkit-box-shadow: 0 0 20px rgba(21, 21, 21, 0.2);
  background-color: #fff;
          box-shadow: 0 0 20px rgba(21, 21, 21, 0.2);
  content: "";
  display: block;
  height: 3px;
  margin: 4px auto 8px;
          transform: rotate(-2deg);
  width: 75vw;
}

.mv_catchJp {
  -webkit-font-feature-settings: "palt";
          font-feature-settings: "palt";
  font-size: 4.8vw;
  font-style: italic;
  letter-spacing: 0.1em;
  margin-right: 16px;
  text-align: right;
}

.u-entryButton {
  background: -webkit-gradient(linear, left top, right top, from(#24a2b3), to(#68e0cf));
  background: linear-gradient(to right, #24a2b3, #68e0cf);
  border-radius: 23px;
  color: #fff;
  display: block;
  font-size: 20px;
  height: 46px;
  letter-spacing: 0.12em;
  line-height: 46px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  width: 200px;
}

.u-entryButton img {
  -webkit-transform: translateY(-50%);
  display: block;
  position: absolute;
  right: 20px;
  top: 50%;
          transform: translateY(-50%);
  width: 25px;
}

.u-sectionTitle {
  font-family: "Caveat", cursive;
  font-size: 100px;
  letter-spacing: 0;
  text-transform: uppercase;
}

.u-sectionTitle._01 {
  color: #fff;
}

.u-sectionTitle._02 {
  color: #60d8cc;
}

.u-sectionTitle._03 {
  color: #eefbfa;
}

.u-sectionSubtitle {
  font-size: 24px;
  font-style: italic;
  margin-top: -46px;
}

.u-visuallyHidden {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  border: 0;
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

body {
  overflow-x: hidden;
}

.header {
  visibility: hidden;
}

.members_img {
  width: 60vw;
}
