*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "fot-tsukuardgothic-std", "Hiragino Kaku Gothic ProN",
    "Hiragino Sans", Meiryo, sans-serif;
  letter-spacing: 0.08em;
  font-weight: bold;
  color: $color-black;
}

a {
  transition: opacity 0.5s;
}

a:hover,
a:focus {
  opacity: 0.8;
}
