.entry {
  padding: 0 20px 80px;
  @include mq(m) {
    padding: 0 50px 150px;
  }
  &_wrapper {
    max-width: 1300px;
    margin: 0 auto;
  }
  &_list {
    @include mq(m) {
      display: flex;
    }
  }
  &_item {
    height: 100px;
    margin: 0 auto;
    background: $gradation;
    color: $color-white;
    position: relative;
    @include mq(m) {
      width: 50%;
    }
    @include mq(xl) {
      height: 150px;
    }
    &:not(:last-of-type) {
      margin-bottom: 20px;
      @include mq(m) {
        margin-bottom: 0;
      }
    }
    &:nth-of-type(even) {
      @include mq(m) {
        margin-top: 20px;
      }
    }
  }
  &_item a {
    display: block;
    width: 100%;
    height: 100%;
  }
  &_icon {
    width: 58px;
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    @include mq(xl) {
      width: 76px;
      left: 50px;
    }
  }
  &_text {
    width: 100%;
    text-align: center;
    font-size: 18px;
    letter-spacing: 0.1em;
    position: absolute;
    top: 50%;
    left: 52%;
    transform: translate(-50%, -50%);
    @include mq(xl) {
      font-size: 24px;
      left: 50%;
    }
  }
  &_arrow {
    position: absolute;
    bottom: 10px;
    right: 10px;
    @include mq(xl) {
      top: 50%;
      left: 50%;
      transform: translate(calc(-50% + 140px), -50%);
    }
  }
}
