.header {
  position: fixed;
  width: 100%;
  height: 50px;
  z-index: 1;
  background-color: $color-white;
  padding: 0 20px;
  @include mq(l) {
    padding: 0 50px;
    height: 80px;
  }
  &_wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &_title {
    display: flex;
    align-items: flex-end;
  }
  &_logo {
    display: block;
    width: 110px;
    margin-right: 10px;
    @include mq(l) {
      width: 145px;
    }
  }
  &_text {
    display: block;
    font-size: 12px;
    letter-spacing: 0.1em;
    @include mq(l) {
      font-size: 16px;
    }
  }
}
