.members {
  &_item {
    &:nth-of-type(even) {
      @include mq(s) {
        margin-top: 20px;
      }
    }
  }
  &_title {
    color: $color-main;
    font-size: 24px;
    font-style: italic;
    text-align: center;
    margin-bottom: 30px;
  }
  &_container {
    background: $gradation;
    color: $color-white;
    padding: 20px;
    position: relative;
  }
  &_img {
    display: block;
    height: 260px;
    margin: 0 auto;
  }
  &_label {
    font-size: 18px;
    margin-bottom: 30px;
  }
  &_info {
    font-size: 14px;
    line-height: 1.4;
    font-weight: normal;
  }
  &_arrow {
    position: absolute;
    bottom: 20px;
    right: 20px;
  }
  &_prevArrow,
  &_nextArrow {
    width: 50px;
    height: 50px;
    background-size: cover;
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    z-index: 10;
  }
  &_prevArrow {
    background-image: url(../img/prev.png);
    left: 0;
  }
  &_nextArrow {
    background-image: url(../img/next.png);
    right: 0;
  }
}
